<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
		</Console>
 
		<RollingFile name="file-log" fileName="C:/Temp/logtile.log/"
        filePattern="C:/Temp/logtile-%d{yyyy-MM-dd}.log">

        <PatternLayout>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1"
                modulate="true" />
            <SizeBasedTriggeringPolicy size="500" />
        </Policies>
        <DefaultRolloverStrategy max="20" />
    </RollingFile>
 
	</Appenders>
	<Loggers>
		<Root level="all">
    		<AppenderRef ref="Console" level="trace" />
   			<AppenderRef ref="RollingFile" level="error" />
  		</Root>
	</Loggers>
</Configuration>